@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

body {
  color: #323232;
}

.swipe .swiper-slide,
.swipe .swiper-wrapper,
.swipe .swiper {
  height: 180px;
}

.swipe .swiper-slide {
  width: 144px !important;
  height: 180px;
}
