@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #323232;
}

.swiper-slide,
.swiper-wrapper,
.swiper {
  height: 180px;
}

.swiper-slide {
  width: 144px !important;
  height: 180px;
}
